# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/

# Pytest cache
.pytest_cache/

# Notebook files
*.ipynb

# Large dataset archives
src/data/*.zip

